<div id="beranda" class="owl-carousel owl-carousel-light owl-carousel-light-init-fadeIn owl-theme manual dots-inside dots-horizontal-center show-dots-hover nav-inside nav-inside-plus nav-dark nav-md nav-font-size-md show-nav-hover mb-0" data-plugin-options="{'autoplayTimeout': 7000}" style="height: 100vh;">
    <div class="owl-stage-outer">
        <div class="owl-stage">

            <!-- Carousel Slide 1 -->
            <div class="owl-item position-relative overlay overlay-show overlay-op-8 pt-5" style="background-image: url({{url_for('static', filename='assets/img/using/hero/hero1.jpg')}}); background-size: cover; background-position: center;"">
                <div class="container position-relative z-index-3 h-100">
                    <div class="row justify-content-center align-items-center h-100">
                        <div class="col-lg-6">
                            <div class="d-flex flex-column align-items-center">
                                <h3 class="position-relative text-color-light text-4 line-height-5 font-weight-medium px-4 mb-3 appear-animation" data-appear-animation="fadeInDownShorterPlus" data-plugin-options="{'minWindowWidth': 0}">
                                    <span class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-3">
                                        <img src="{{url_for('static', filename='assets/img/slides/slide-title-border.png')}}" class="w-auto appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                    </span>
                                    ADVANCED PARKING LOT
                                    <span class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-3">
                                        <img src="{{url_for('static', filename='assets/img/slides/slide-title-border.png')}}" class="w-auto appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                    </span>
                                </h3>
                                <h2 class="text-color-light font-weight-extra-bold text-md-12 mb-4 appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}">
                                    OCCUPATION DETECTION
                                </h2>
                                <p class="text-4 text-color-light font-weight-light opacity-7 text-center mt-2 mb-4" data-plugin-animated-letters data-plugin-options="{'startDelay': 1000, 'minWindowWidth': 0, 'animationSpeed': 25}">Utilizing YOLOv8 for real-time parking lot monitoring</p>
                                <a href="#prediksi" data-hash data-hash-offset="0" data-hash-offset-lg="50" class="btn btn-primary btn-rounded font-weight-bold text-3 px-5 py-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600" data-plugin-options="{'minWindowWidth': 0}">Prediksi Sekarang!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Carousel Slide 2 -->
            <div class="owl-item position-relative overlay overlay-show overlay-op-8 pt-5" style="background-image: url({{url_for('static', filename='assets/img/using/hero/hero2.jpg')}}); background-size: cover; background-position: center;">
                <div class="container position-relative z-index-3 h-100">
                    <div class="row justify-content-center align-items-center h-100">
                        <div class="col-lg-6">
                            <div class="d-flex flex-column align-items-center">
                                <h3 class="position-relative text-color-light text-5 line-height-5 font-weight-medium px-4 mb-2 appear-animation" data-appear-animation="fadeInDownShorterPlus" data-plugin-options="{'minWindowWidth': 0}">
                                    <span class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-3">
                                        <img src="{{url_for('static', filename='assets/img/slides/slide-title-border.png')}}" class="w-auto appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                    </span>
                                    SMART MONITORING
                                    <span class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-3">
                                        <img src="{{url_for('static', filename='assets/img/slides/slide-title-border.png')}}" class="w-auto appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                    </span>
                                </h3>
                                <h2 class="text-color-light font-weight-extra-bold text-12 mb-3 appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}">WITH YOLOv8</h2>
                                <p class="text-4 text-color-light font-weight-light opacity-7 text-center mb-0" data-plugin-animated-letters data-plugin-options="{'startDelay': 1000, 'minWindowWidth': 0, 'animationSpeed': 25}">Efficient and accurate parking space detection.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Carousel Slide 3 -->
            <div class="owl-item position-relative overlay overlay-show overlay-op-8 pt-5" style="background-image: url({{url_for('static', filename='assets/img/using/hero/hero3.jpg')}}); background-size: cover; background-position: center;">
                <div class="container position-relative z-index-3 h-100">
                    <div class="row justify-content-center align-items-center h-100">
                        <div class="col-lg-6">
                            <div class="d-flex flex-column align-items-center">
                                <h3 class="position-relative text-color-light text-4 line-height-5 font-weight-medium px-4 mb-2 appear-animation" data-appear-animation="fadeInDownShorterPlus" data-plugin-options="{'minWindowWidth': 0}">
                                    <span class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-3">
                                        <img src="{{url_for('static', filename='assets/img/slides/slide-title-border.png')}}" class="w-auto appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                    </span>
                                    REAL-TIME ANALYTICS
                                    <span class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-3">
                                        <img src="{{url_for('static', filename='assets/img/slides/slide-title-border.png')}}" class="w-auto appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                    </span>
                                </h3>
                                <h2 class="text-15 text-color-light font-weight-extra-bold mb-3" data-plugin-animated-letters data-plugin-options="{'startDelay': 1000, 'minWindowWidth': 0, 'animationSpeed': 250, 'animationName': 'fadeInRightShorterOpacity', 'letterClass': 'd-inline-block'}">SMART MONITOR</h2>
                                <p class="text-4 text-color-light font-weight-light text-center mb-0" data-plugin-animated-letters data-plugin-options="{'startDelay': 2000, 'minWindowWidth': 0}">Instant analysis and reporting for optimal management.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Carousel Slide 4 -->
            <div class="owl-item position-relative video overlay overlay-show overlay-op-8 pt-5" data-video-path="{{url_for('static', filename='assets/video/hero4.mp4')}}" data-plugin-video-background data-plugin-options="{'posterType': 'jpg', 'position': '50% 50%'}">
                <div class="container position-relative z-index-3 h-100">
                    <div class="row justify-content-center align-items-center h-100">
                        <div class="col-lg-6">
                            <div class="d-flex flex-column align-items-center">
                                <h3 class="position-relative text-color-light text-5 line-height-5 font-weight-medium px-4 mb-2 appear-animation" data-appear-animation="fadeInDownShorterPlus" data-plugin-options="{'minWindowWidth': 0}">
                                    <span class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-3">
                                        <img src="{{url_for('static', filename='assets/img/slides/slide-title-border.png')}}" class="w-auto appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                    </span>
                                    INTEGRATED SOLUTION
                                    <span class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-3">
                                        <img src="{{url_for('static', filename='assets/img/slides/slide-title-border.png')}}" class="w-auto appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                    </span>
                                </h3>
                                <h2 class="text-color-light font-weight-extra-bold text-12 mb-3 appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}">WITH YOLOv8</h2>
                                <p class="text-4 text-color-light font-weight-light opacity-7 text-center mb-0" data-plugin-animated-letters data-plugin-options="{'startDelay': 1000, 'minWindowWidth': 0, 'animationSpeed': 25}">Combine cutting-edge AI with practical applications for seamless parking management.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="owl-nav">
        <button type="button" role="presentation" class="owl-prev" aria-label="Previous"></button>
        <button type="button" role="presentation" class="owl-next" aria-label="Next"></button>
    </div>
    <div class="owl-dots mb-5">
        <button role="button" class="owl-dot active"><span></span></button>
        <button role="button" class="owl-dot"><span></span></button>
        <button role="button" class="owl-dot"><span></span></button>
        <button role="button" class="owl-dot"><span></span></button>
    </div>
</div>

<!-- card -->
<section class="custom-cards p-relative mb-5 pb-5 z-index-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-custom-cards">
                <div class="card border-0 bg-color-dark rounded-0 z-index-1 p-5 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="100">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center p-0 my-3">
                        <img src="{{url_for('static', filename='assets/img/demos/digital-agency-2/icons/solution.png')}}" alt="Solution" class="mb-5">
                        <h4 class="card-title custom-text-8 font-weight-bold text-color-light text-center mb-3">Pemantauan <br>Real-Time</h4>
                        <p class="card-text text-center custom-text-4 font-weight-lighter">Sistem kami menyediakan update real-time tentang ketersediaan tempat parkir, mengurangi kerepotan dalam mencari parkir.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-custom-cards">
                <div class="card border-0 bg-color-primary rounded-0 z-index-1 p-5 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center p-0 my-3">
                        <img src="{{url_for('static', filename='assets/img/demos/digital-agency-2/icons/advertising.png')}}" alt="Solution" class="mb-5">
                        <h4 class="card-title custom-text-8 font-weight-bold text-color-light text-center mb-3">Deteksi Akurat</h4>
                        <p class="card-text text-center custom-text-4 font-weight-lighter text-color-light">Menggunakan YOLOv8, sistem kami memastikan akurasi tinggi dalam mendeteksi tempat parkir yang terisi dan kosong.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-custom-cards">
                <div class="card border-0 bg-color-dark rounded-0 z-index-1 p-5 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="300">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center p-0 my-3">
                        <img src="{{url_for('static', filename='assets/img/demos/digital-agency-2/icons/feedback.png')}}" alt="Solution" class="mb-5">
                        <h4 class="card-title custom-text-8 font-weight-bold text-color-light text-center mb-3">Mudah Digunakan</h4>
                        <p class="card-text text-center custom-text-4 font-weight-lighter">Antarmuka kami dirancang untuk intuitif dan mudah digunakan, memastikan pengalaman yang mulus bagi semua pengguna.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>