<section class="our-services p-relative py-5 my-5" id="tim-kami">
    <span class="custom-circle custom-circle-2 bg-color-quaternary appear-animation" data-appear-animation="zoomIn" data-appear-animation-delay="100"></span>
    <div class="container">
        <div class="row justify-content-center">
            <h4 class="text-color-light custom-text-10 font-weight-bold text-center custom-title-with-icon-center custom-title-with-icon custom-title-with-icon-primary pb-5 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">Tim Kami: </h4>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4 px-0">
                <div class="custom-thumb-info-style-1 thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom thumb-info-hide-wrapper-bg">
                    <div class="thumb-info-wrapper overlay overlay-show overlay-op-5">
                        <img src="{{url_for('static', filename='assets/img/using/team/fitrah.jpeg')}}" class="img-fluid" alt="">
                        <div class="thumb-info-title bg-transparent">
                            <div class="thumb-info-inner line-height-1 custom-font-size-1 custom-font-primary">Fitrah Maulana
                            </div>
                            <div class="thumb-info-type opacity-7 text-transform-none line-height-1 text-2 custom-font-primary">AI Engineer & Web Developer</div>
                            <div class="thumb-info-show-more-content">
                                <p class="text-1 line-height-9 my-3">Fitrah Maulana is the mastermind behind the web development and model creation for our Parking Lot Occupation Detection project using YOLOv8 and Flask. His technical expertise and dedication have been crucial in bringing our project to life.</p>
                                <div class="d-flex justify-content-evenly">
                                    <a href="https://www.instagram.com/fiitrahmaulana/" class="text-decoration-none font-weight-bold text-color-light custom-font-size-2" target="_blank">
                                        <i class="fab fa-instagram text-4 position-relative top-1 me-1"></i> INSTAGRAM
                                    </a>
                                    <a href="https://github.com/insomness" class="text-decoration-none font-weight-bold text-color-light custom-font-size-2" target="_blank">
                                        <i class="fab fa-github text-4 position-relative top-1 me-1"></i> GITHUB
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 px-0">
                <div class="custom-thumb-info-style-1 thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom thumb-info-hide-wrapper-bg">
                    <div class="thumb-info-wrapper overlay overlay-show overlay-op-5">
                        <img src="{{url_for('static', filename='assets/img/using/team/nebiel.jpg')}}" class="img-fluid" alt="">
                        <div class="thumb-info-title bg-transparent">
                            <div class="thumb-info-inner line-height-1 custom-font-size-1 custom-font-primary"> M Nebiel Wareth</div>
                            <div class="thumb-info-type opacity-7 text-transform-none line-height-1 text-2 custom-font-primary">Team Leader & AI Engineer</div>
                            <div class="thumb-info-show-more-content">
                                <p class="text-1 line-height-9 my-3">As the team leader, M Nebiel Wareth has taken on the responsibility of coordinating with our coach and ensuring that the project stays on track. He also assists with technical tasks, providing support and guidance to the team.</p>
                                <a href="https://www.instagram.com/mnwalghariby22/" class="text-decoration-none font-weight-bold text-color-light custom-font-size-2" target="_blank">
                                    <i class="fab fa-instagram text-4 position-relative top-1 me-1"></i> INSTAGRAM
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 px-0">
                <div class="custom-thumb-info-style-1 thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom thumb-info-hide-wrapper-bg">
                    <div class="thumb-info-wrapper overlay overlay-show overlay-op-5">
                        <img src="{{url_for('static', filename='assets/img/demos/band/authors/author-3.jpg')}}" class="img-fluid" alt="">
                        <div class="thumb-info-title bg-transparent">
                            <div class="thumb-info-inner line-height-1 custom-font-size-1 custom-font-primary">M Fazri</div>
                            <div class="thumb-info-type opacity-7 text-transform-none line-height-1 text-2 custom-font-primary">Video Content Creator</div>
                            <div class="thumb-info-show-more-content">
                                <p class="text-1 line-height-9 my-3">M Fazri is responsible for creating engaging video content for our project. His creative skills help in presenting our work effectively, making complex concepts accessible and understandable.</p>
                                <a href="https://www.instagram.com/" class="text-decoration-none font-weight-bold text-color-light custom-font-size-2" target="_blank">
                                    <i class="fab fa-instagram text-4 position-relative top-1 me-1"></i> INSTAGRAM
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 px-0">
                <div class="custom-thumb-info-style-1 thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom thumb-info-hide-wrapper-bg">
                    <div class="thumb-info-wrapper overlay overlay-show overlay-op-5">
                        <img src="{{url_for('static', filename='assets/img/using/team/wulan.jpeg')}}" class="img-fluid" alt="">
                        <div class="thumb-info-title bg-transparent">
                            <div class="thumb-info-inner line-height-1 custom-font-size-1 custom-font-primary">Wulan As-Syafitri</div>
                            <div class="thumb-info-type opacity-7 text-transform-none line-height-1 text-2 custom-font-primary">Team Member</div>
                            <div class="thumb-info-show-more-content">
                                <p class="text-1 line-height-9 my-3">Wulan Syafitri is a valued member of our team. While her specific contributions to the project are not detailed, she plays a supportive role in our collaborative efforts.
                                </p>
                                <a href="https://www.instagram.com/" class="text-decoration-none font-weight-bold text-color-light custom-font-size-2" target="_blank">
                                    <i class="fab fa-instagram text-4 position-relative top-1 me-1"></i> INSTAGRAM
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 px-0">
                <div class="custom-thumb-info-style-1 thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom thumb-info-hide-wrapper-bg">
                    <div class="thumb-info-wrapper overlay overlay-show overlay-op-5">
                        <img src="{{url_for('static', filename='assets/img/using/team/enisa.jpeg')}}" class="img-fluid" alt="">
                        <div class="thumb-info-title bg-transparent">
                            <div class="thumb-info-inner line-height-1 custom-font-size-1 custom-font-primary">Enisa W. Hutapea</div>
                            <div class="thumb-info-type opacity-7 text-transform-none line-height-1 text-2 custom-font-primary">Team Member</div>
                            <div class="thumb-info-show-more-content">
                                <p class="text-1 line-height-9 my-3">Enisa is another essential member of our team. Although her specific tasks are not defined, her presence and participation contribute to the overall success of our project.
                                </p>
                                <a href="https://www.instagram.com/" class="text-decoration-none font-weight-bold text-color-light custom-font-size-2" target="_blank">
                                    <i class="fab fa-instagram text-4 position-relative top-1 me-1"></i> INSTAGRAM
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>