{% extends "base.html" %}
{% block title %}Image Prediction{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Image</h2>
            <h3>Find out about <span>Image Prediction</span></h3>
            <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas
                atque vitae autem.</p>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right" data-aos-delay="100">
                <form action="/upload_image" method="post" enctype="multipart/form-data">
                    <div class="card text-dark bg-light mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Upload Gambar</h5>
                            <p class="card-text">Gunakan gambar yang relevan dari model yang telah dilatih.</p>
                            <input class="form-control" type="file" id="formFile" name="file"
                                accept="image/png, image/gif, image/jpeg">
                            <button type="submit" class="btn btn-primary mt-3 float-end">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        {% if image_path %}
        <div class="row">
            <h2 class="d-flex justify-content-center">Prediction Results</h2>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <img src="{{ url_for('static', filename=image_path) }}" class="img-fluid" alt="Uploaded Image">
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <img src="{{ url_for('static', filename=prediction_path) }}" class="img-fluid"
                    alt="Prediction Image">
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}