<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Video Prediction</h1>
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
    <div class="video-container">
        <h2>Video Stream</h2>
        <img src="{{ url_for('video_feed', video_path=video_path) }}" alt="Video Stream">
    </div>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>
