<section class="our-approach py-5 mb-5 mt-0 p-relative z-index-1" id="tentang-kami">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 d-flex flex-column justify-content-center align-items-start">
                <h4 class="custom-text-10 mb-4 pb-2 font-weight-bold custom-title-with-icon custom-title-with-icon-primary appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="100">Tentang Proyek Ini</h4>
                <p class="custom-font-tertiary custom-text-6 line-height-6 font-weight-medium appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">Sistem ini dikembangkan sebagai proyek akhir dari <a href="https://orbitfutureacademy.id/" class="text-color-primary custom-text-5 font-weight-bold">Orbit Future Academy</a> untuk mengatasi tantangan perkotaan menggunakan Artificial Intelligent.</p>
            </div>
            <div class="col-xl-4 py-4 py-xl-0">
                <div class="approach-img bg-color-dark">
                    <div class="custom-circle custom-circle-1"></div>
                    <div class="custom-circle custom-circle-2 bg-color-dark"></div>
                    <span class="custom-circle custom-circle-our-approach-deco-1 bg-color-tertiary p-absolute d-block appear-animation" data-appear-animation="zoomIn" data-appear-animation-delay="100"></span>
                    <span class="custom-circle custom-circle-our-approach-deco-2 bg-color-tertiary p-absolute d-block appear-animation" data-appear-animation="zoomIn" data-appear-animation-delay="100"></span>
                    <span class="custom-circle custom-circle-our-approach-deco-3 bg-color-tertiary p-absolute d-block appear-animation" data-appear-animation="zoomIn" data-appear-animation-delay="100"></span>
                </div>
            </div>
            <div class="col-xl-4 d-flex flex-column justify-content-center align-items-xl-end">
                <h4 class="custom-text-10 mb-4 pb-2 font-weight-bold custom-title-with-icon custom-title-with-icon-primary appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="100">Tujuan Proyek Ini</h4>
                <p class="text-xl-end custom-font-tertiary custom-text-6 line-height-6 font-weight-medium appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">Mengembangkan <span class="text-color-primary font-weight-bold">Parking Lot Occupation Detection</span> dengan menggunakan model YOLOv8 yang mampu mengidentifikasi dan menghitung tempat parkir yang terisi dan kosong dengan akurat.</p>
            </div>
        </div>
    </div>
</section>