<section class="py-5 mb-5 mt-0 p-relative z-index-1" id="panduan-penggunaan">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <h4 class="custom-text-10 mb-4 pb-2 font-weight-bold custom-title-with-icon custom-title-with-icon-primary appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="100">Cara Penggunaan</h4>
                
                <div class="accordion custom-accordion mb-4 appear-animation animated fadeIn appear-animation-visible" data-appear-animation="fadeIn" data-appear-animation-delay="700" style="animation-delay: 700ms;"  id="accordion12">
                    <div class="card card-default custom-card-default rounded-0">
                        <div class="card-header m-0 bg-color-tertiary" id="collapse12HeadingOne">
                            <h4 class="card-title m-0 custom-text-8">
                                <a class="accordion-toggle px-0 py-3" data-bs-toggle="collapse" data-bs-target="#collapse12One" aria-expanded="true" aria-controls="collapse12One">
                                    1. Konfigurasi Area Parkir
                                </a>
                            </h4>
                        </div>
                        <div id="collapse12One" class="custom-card-body-collapse collapse " aria-labelledby="collapse12HeadingOne" data-bs-parent="#accordion12">
                            <div class="card-body text-primary">
                                <p>
                                    Bagian ini digunakan untuk menentukan area parkir dengan menggunakan titik-titik pilihan dan mendapatkan hasil dalam format JSON.
                                </p>
                                <ol class="">
                                    <li>
                                        <strong>Unggah Gambar Tempat Parkir:</strong>
                                        <ul>
                                            <li>Klik tombol "Unggah Gambar" pada bagian Konfigurasi Area Parkir.</li>
                                            <li>Pilih gambar tempat parkir dari perangkat Anda.</li>
                                            <li>Gambar akan ditampilkan di halaman.</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <strong>Menentukan Area Parkir:</strong>
                                        <ul>
                                            <li>Klik tombol "Tambahkan Area Parkir".</li>
                                            <li>Pilih titik-titik pada gambar untuk menggambar poligon yang menandai area parkir.</li>
                                            <li>Ulangi langkah ini untuk setiap area parkir yang ingin ditandai.</li>
                                            <li>Setelah selesai, klik tombol "Simpan". Konfigurasi akan disimpan secara otomatis dalam format JSON.</li>
                                        </ul>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class="card card-default custom-card-default rounded-0">
                        <div class="card-header m-0 bg-color-tertiary" id="collapse12HeadingTwo">
                            <h4 class="card-title m-0 custom-text-8">
                                <a class="accordion-toggle px-0 py-3" data-bs-toggle="collapse" data-bs-target="#collapse12Two" aria-expanded="false" aria-controls="collapse12Two">
                                    2. Deteksi Okupansi
                                </a>
                            </h4>
                        </div>
                        <div id="collapse12Two" class="custom-card-body-collapse collapse " aria-labelledby="collapse12HeadingTwo" data-bs-parent="#accordion12">
                            <div class="card-body text-primary">
                                <p>
                                    Bagian ini digunakan untuk mendeteksi okupansi tempat parkir dari gambar/video yang diunggah dan data bounding box yang telah dikonfigurasi.
                                </p>
                                <ol>
                                    <li>
                                        <strong>Unggah Bounding Box:</strong>
                                        <ul>
                                            <li>Klik tombol "Unggah Bounding Box" pada bagian Deteksi Okupansi.</li>
                                            <li>Pilih file JSON yang berisi bounding box yang telah dikonfigurasi sebelumnya.</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <strong>Unggah Video atau Gambar:</strong>
                                        <ul>
                                            <li>Klik tombol "Unggah Video" atau "Unggah Gambar".</li>
                                            <li>Pilih video atau gambar yang sesuai dengan bounding box yang telah diunggah.</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <strong>Proses Deteksi:</strong>
                                        <ul>
                                            <li>Sistem akan secara otomatis memproses video atau gambar yang diunggah untuk mendeteksi okupansi tempat parkir.</li>
                                            <li>Hasil deteksi akan ditampilkan langsung di halaman, menunjukkan tempat parkir yang kosong dan yang terisi.</li>
                                        </ul>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card border-radius-0 bg-color-light border-0 box-shadow-1">
                        <div class="card-body">
                            <h4 class="card-title mb-1 text-4 font-weight-bold">Catatan Tambahan</h4>
                            <p class="card-text">
                                <ul class="text-color-light">
                                    <li>Pastikan bounding box, dan video/gambar yang diunggah saling berkaitan dan sesuai satu sama lain untuk memastikan hasil yang akurat.</li>
                                    <li>Jika ada kesalahan atau perubahan, pengguna dapat mengunggah ulang gambar dan bounding box kapan saja.</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-6 pt-5 mt-5 d-none d-xl-block">
                <img src="{{url_for('static', filename='assets/img/using/services/parking lot detection.jpg')}}" class="img-fluid appear-animation animated fadeIn appear-animation-visible" data-appear-animation="fadeIn" data-appear-animation-delay="700" alt="" style="animation-delay: 700ms;">
            </div>
        </div>
    </div>
</section>