<section class="our-services p-relative py-5 my-5">
    <span class="custom-circle custom-circle-2 bg-color-quaternary appear-animation" data-appear-animation="zoomIn" data-appear-animation-delay="100"></span>
    <div class="container">
        <div class="row justify-content-center">
            <h4 class="text-color-light custom-text-10 font-weight-bold text-center custom-title-with-icon-center custom-title-with-icon custom-title-with-icon-primary pb-5 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">Prediksi Sekarang:</h4>
        </div>

        <div class="row">
            <div class="col">
                <div class="tabs tabs-bottom tabs-center tabs-simple">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item active" role="presentation">
                            <a class="nav-link active" href="#tabsNavigationSimpleIcons1" data-bs-toggle="tab" aria-selected="true" role="tab">
                                <span class="featured-boxes featured-boxes-style-6 p-0 m-0">
                                    <span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
                                        <span class="box-content p-0 m-0">
                                            <i class="icon-featured fas fa-user"></i>
                                        </span>
                                    </span>
                                </span>									
                                <p class="mb-0 pb-0">Konfigurasi Area Parkir</p>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="#tabsNavigationSimpleIcons2" data-bs-toggle="tab" aria-selected="false" role="tab" tabindex="-1">
                                <span class="featured-boxes featured-boxes-style-6 p-0 m-0">
                                    <span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
                                        <span class="box-content p-0 m-0">
                                            <i class="icon-featured fas fa-file"></i>
                                        </span>
                                    </span>
                                </span>									
                                <p class="mb-0 pb-0">Deteksi Okupansi</p>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tabsNavigationSimpleIcons1" role="tabpanel">
                            <div class="text-center">
                                {% with messages = get_flashed_messages() %}
                                  {% if messages %}
                                    <ul class="flashes">
                                      {% for message in messages %}
                                        <li>{{ message }}</li>
                                      {% endfor %}
                                    </ul>
                                  {% endif %}
                                {% endwith %}
                                
                                <div class="upload-section">
                                    <h4>Upload Image or Video</h4>
                                    <form action="{{ url_for('predict') }}" method="post" enctype="multipart/form-data">
                                        <input type="file" name="file" accept="image/*,video/*" required>
                                        <button type="submit">Upload</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tabsNavigationSimpleIcons2" role="tabpanel">
                            <div class="text-center">
                                <h4>HTML5 / CSS3 / JS</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>