<section class="our-services p-relative py-5 my-5">
    <div class="appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="100">
        <div class="marquee custom-marquee-1 pt-4" data-duration="40000" data-gap="10" data-duplicated="true" data-startVisible="true">
            <span class="d-flex align-items-center" data-clone-element="2">
                <div class="px-5 py-1">
                    <img src="{{url_for('static', filename='assets/img/using/sponsor/kemendikbudristek.png')}}" alt="" class="img-fluid" style="max-height: 140px;">
                </div>
                <div class="px-5 py-1">
                    <img src="{{url_for('static', filename='assets/img/using/sponsor/OFA-Logo.png')}}" alt="" class="img-fluid" style="max-height: 80px;">
                </div>
                <div class="px-5 py-1">
                    <img src="{{url_for('static', filename='assets/img/using/sponsor/kampusmerdeka.png')}}" alt="" class="img-fluid" style="max-height: 140px;">
                </div>
                <div class="px-5 py-1">
                    <img src="{{url_for('static', filename='assets/img/using/sponsor/msib.png')}}" alt="" class="img-fluid" style="max-height: 140px;">
                </div>
            </span>
        </div>
    </div>
</section>